name: CI

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    env:
      GRADLE_USER_HOME: ${{ github.workspace }}/.gradle
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Gradle tests
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.7
          arguments: sdk-core:test sdk-bestshot:test samples:cashier-app:test
